@import "src/assets/styles/vars";
@import "src/assets/styles/colors";

.sidebar {
    flex: 1 1;
    height: calc(100vh - 40px);
    position: relative;

    border-left: 1px solid #ccc;

    &__tabs {
        height: 80px;
        display: flex;
        align-items: center;

        padding: 10px 20px;

        &-item + &-item {
            margin-left: 20px;
        }

        &-item {
            color: $text-light;
            cursor: pointer;
            @include font-medium-size-height(13px, 20px);

            &._active {
                color: $primary;
            }
        }
    }
    &__content {
        border-top: 1px solid #ccc;
        height: calc(100% - 200px);
    }
    &__controls {
        border-top: 1px solid #ccc;
        height: 80px;
        padding-top: 20px;

        & > button {
            width: 100%;
        }

        button + button {
            margin-top: 10px;
        }
    }
}