@import "src/assets/styles/vars";
@import "src/assets/styles/colors";

.header {
    height: $header-height;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px;

    border-bottom: 1px solid #ccc;

    &__close-icon {
        font-size: 32px;
        cursor: pointer;

        color: $text-light;

        &:hover {
            color: darken($text-light, 12%);
        }
    }
}